= form_tag workitem_path(@workitem), :class => "formtastic", :method => 'PUT'  do
  %fieldset
    %fieldset.column_left
      %ol
        %li
          %label.label 审批意见(最多255个字)
          %textarea{:name => 'workitem[comments]', :maxlength => 255, :cols => 65, :rows => 5, :style => 'padding: 5px'}
  .control.left
    - @message.each do |m|
      = m
      %br
    %input{:type => "hidden", :name => "wi_action", :value => "#{@wi_action}"}
    修改本事项的终审权人为 : 
    %select{:name =>"final_right", :size=>"1"}
      - @final_right_options.each do |k,v|
        %option{:value=>k, :selected=>(@final_right == k)}= v 
    %br
    %br
    - @submit_values.each do |e|
      = formtastic_workitem_submit_button(e, e , :proceed, "workitem_proceed")
    = formtastic_cancel_to_previous_button
  = clear_div
= clear_div


