= form_tag workitem_path(@workitem), :method => 'PUT'  do
  %input{:type => 'radio', :name => 'suggest', :value => 'aggree'}同意
  %input{:type => 'text', :name => 'aggree'}
  %br
  %input{:type => 'radio', :name => 'suggest', :value => 'deny'}否决
  %input{:type => 'text', :name => 'deny'}
  %br
  %input{:type => 'radio', :name => 'suggest', :value => 'aggree_with_condition'}有条件同意
  %input{:type => 'text', :name => 'aggree_with_condition'}
  %br
  %input{:type => 'radio', :name => 'suggest', :value => 'suspend'}暂缓
  %input{:type => 'text', :name => 'suspend'}
  %br

  - if @workitem.custom_fields.any?
    - @workitem.custom_fields.each do |k,v|
      - if v['type'] == 'checkbox'
        = check_box_tag("workitem[fields][#{v['name']}]", 'yes')
        = k
    %br

  = workitem_return_button(@workitem) if !@workitem.top_tag.blank?
  = workitem_proceed_button(@workitem)

  = link_to '取消', request.env['HTTP_REFERER']


