= form_tag workitem_path(@workitem), :method => 'PUT'  do
  %label 审批意见(最多255个字)
  %br
  %textarea{:name => 'workitem[comments]', :maxlength => 255, :cols => 65, :rows => 5}
  %br
  - @message.each do |m|
    = m
    %br
  - if @workitem.fields['blade']['default_examiner_id']
    = "前阶段已指派给: #{User.find(@workitem.fields['blade']['default_examiner_id']).name}"
    %br
  指派给 : 
  %select{:name =>"examiner_id", :size=>"1"}
    %option{:value => ''}
    - Role.where(:code => 'risk_dept_examiner').first.users.each do |u|
      %option{:value => u.id, :selected=>(@workitem.fields['blade']['default_examiner_id'].to_i == u.id)}= u.name
  %br

  - @submit_values.each do |e|
    %button{:type=>'submit', :name => 'workitem[submit]', :value => e}= e 
  = link_to '取消', request.env['HTTP_REFERER']

