= javascript_include_tag 'checkbox_as_radio'

%h1 业务流程待处理事物
= "#{@workitem.wf_name}流程"
= render '/process_journals/table', :process_journals => ProcessJournal.for_wfid(@workitem.wfid)
%br
= render @form
= render @view 


