%h1 Listing projects
- #="current_ability.object_id = #{current_ability.object_id}"
%table{:border => 1}
  %tr
    %th 名称
    %th 主办
    %th workflow_status
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.name
      %td= project.handler.try(:name)
      %td= project.workflow_status.try(:name)
      %td= link_to '删除', project, :confirm => 'Are you sure?', :method => :delete
      %td= link_to '授信审签', new_process_path(:workflow_id => 1, :target_type => 'project', :target_id => project.id),:confirm => 'Are you sure?'
      %td= link_to '营销报备', new_process_path(:workflow_id => 2, :target_type => 'project', :target_id => project.id),:confirm => 'Are you sure?'

%br

= link_to 'New Project', new_project_path
