%h1 Listing contract_applications

%table{:border => 1}
  %tr
    %th 名称
    %th 发起人
    %th workflow_status
    %th
    %th

  - @contract_applications.each do |contract_application|
    %tr
      %td= contract_application.name
      %td= contract_application.user.name
      %td= contract_application.workflow_status.name
      %td= link_to '删除', contract_application, :confirm => 'Are you sure?', :method => :delete
      %td= link_to '审签', new_process_path(:workflow_id => 4, :target_type => 'contract_application', :target_id => contract_application.id),:confirm => 'Are you sure?'

%br

= link_to 'New Contract application', new_contract_application_path
