<!DOCTYPE html>
<html>
  <head>
    <title>WorkflowLab</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% if !current_user %>
      user: not login
    <% else %>
      user:
      <%= "#{current_user.name}"%>
      |
      <%= "#{current_user.roles.collect{|e| e.name + ':' + e.code }.inspect}" %>
      |
      <%= "#{current_user.departments.collect{|e| e.name}.inspect}" %>
    <% end%>
    <%= yield %>
  </body>
</html>
